{{#default-data "./_story/tabbed-container.knobs.js" "Tabbed Container"}}
<div class="tabbed-container">
    <ul class="nav nav-tabs" role="tablist">
        {{#each tabs as |tab|}}
        <li class="nav-item" role="tab" aria-controls="{{../id}}-{{tab.id}}"
                aria-selected="{{#if tab.active}}true{{else}}false{{/if}}">
            <a class="nav-link {{#if tab.active}} active{{/if}}" id="{{../id}}-{{tab.id}}-tab" data-toggle="tab"
                href="#{{../id}}-{{tab.id}}" >{{tab.title}}</a>
        </li>
        {{/each}}
    </ul>
    <div class="tab-content">
        {{#each tabs as |tab|}}
        <div class="tab-pane fade {{#if tab.active}}show active{{/if}}" id="{{../id}}-{{tab.id}}" role="tabpanel"
            aria-labelledby="{{../id}}-{{tab.id}}-tab">
            {{#default-data tab tab.id}}
            {{> html/placeholder/tab-content }}
            {{/default-data}}
        </div>
        {{/each}}
    </div>
</div>
{{/default-data}}
