.features {
  width: 100%;
  height: auto;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
  padding: 45px 30px;

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 992px) {
    height: 710px;
  }

  .container {
    max-width: 1000px;
  }

  h2 {
    position: relative;
    font-family: "ModernEra-Black";
    font-size: 24px;
    line-height: 26px;
    margin: 0 15px 0 0;
    padding: 21px 0 30px;

    &:before {
      background: #fff;
      content: "";
      height: 10px;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate3d(0, 0, 0);
      width: 60px;
      transition: width .25s ease-in-out;
    }
  }

  h3 {
    position: relative;
    font-family: "ModernEra-Black";
    font-size: 24px;
    line-height: 26px;
    margin: 0 15px 0 0;
    padding: 21px 0 30px;
  }

  .icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .icon-card {
    text-align: center;
    margin-top: 30px;

    @media screen and (min-width: 992px) {
      margin-top: 0;
      text-align: initial;
    }
  }

  .icon {
    width: 62px;
    height: 62px;
  }
}
