{{#default-data "./_story/features.knobs.js" "Features"}}

<div class="features" style="background-image: url('/common/{{background}}')">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
      <div class="component-content">
        <div class="component-section-title__heading">
          <h2 class="field-section-title">{{title}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-6">
      <div class="row">
        {{#each cards as |card|}}
        <div class="col-lg-6">
          <div class="icon-card">
            <img src="{{card.icon}}" class="icon" />
            <h3>{{card.title}}</h3>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
</div>

{{/default-data}}
