{{#default-data "./_story/contactform.knobs.js" "Contact Form"}}

{{!-- {{#each contactform as |card|}} --}}
<div class="contactform">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Curious about what a No-Code Preference Center could look like for you? <span>We’d love to show you.</span></h2>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="" class="">
                <span class="field-validation-valid"></span>
              </label>
              <input id="form-firstname" name="form-firstname" class="valid" type="text" value="" maxlength="255" placeholder="" required="">
              <label class="required" aria-required="true">
                First name<span class="field-validation-valid"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="form-lastname" class="">
                <span class="field-validation-valid"></span>
              </label>
              <input id="form-lastname" name="form-lastname" class="valid" type="text" value="" maxlength="255" placeholder="" required="">
              <label class="required" aria-required="true">
                Last name<span class="field-validation-valid"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="form-country" class="">
                <span class="field-validation-valid"></span>
              </label>
              <input id="form-company" name="form-company" class="valid" type="text" value="" maxlength="255" placeholder="" required="">
              <label class="required" aria-required="true">
                Company<span class="field-validation-valid"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="form-email" class="">
                <span class="field-validation-valid"></span>
              </label>
              <input id="form-email" name="form-email" class="valid" type="text" value="" maxlength="255" placeholder="" required="">
              <label class="required" aria-required="true">
                Email<span class="field-validation-valid"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="form-phone" class="">
                <span class="field-validation-valid"></span>
              </label>
              <input id="form-phone" name="form-phone" class="valid" type="text" value="" maxlength="255" placeholder="" required="">
              <label class="required" aria-required="true">
                Phone<span class="field-validation-valid"></span>
              </label>
            </div>
            <div class="form-group select">
              <label for="form-country" class="">
                <span class="field-validation-valid"></span>
              </label>
              <select id="form-country" name="form-country" class="valid dropdownValid" required="">
                <option label=" "></option>
                <option value="United States">United States</option>
                <option value="Other">Other</option>
                <option value="Another">Another</option>
              </select>
              <label class="required" aria-required="true">
                Country<span class="field-validation-valid"></span>
              </label>
            </div>
            <div class="form-group">
              <ul class="checkbox-container">
                <li>
                  <input id="checkbox1" type="checkbox">
                  <label for="checkbox1">Opt in</label>
                </li>
                <li>
                  <input id="checkbox2" type="checkbox">
                  <label for="checkbox2">Privacy</label>
                </li>
              </ul>
            </div>

<style>
@font-face{font-family:"ModernEra-Black";src:url("https://horizontaldigital.com/-/media/themes/horizontal/dotcom/digital/digital/fonts/ModernEra/ModernEra-Black-eot.eot"), url("https://horizontaldigital.com/-/media/themes/horizontal/dotcom/digital/digital/fonts/ModernEra/ModernEra-Black-eot.eot?#iefix") format("embedded-opentype"), url("https://horizontaldigital.com/-/media/themes/horizontal/dotcom/digital/digital/fonts/ModernEra/ModernEra-Black-woff2.woff2") format("woff2"), url("https://horizontaldigital.com/-/media/themes/horizontal/dotcom/digital/digital/fonts/ModernEra/ModernEra-Black-woff.woff") format("woff");font-weight:normal;font-style:normal}
@font-face {font-family:"ModernEra-Regular";src:url("https://horizontaldigital.com/-/media/themes/horizontal/dotcom/digital/digital/fonts/ModernEra/ModernEra-Regular-eot.eot");src:url("https://horizontaldigital.com/-/media/themes/horizontal/dotcom/digital/digital/fonts/ModernEra/ModernEra-Regular-eot.eot?#iefix") format("embedded-opentype"), url("https://horizontaldigital.com/-/media/themes/horizontal/dotcom/digital/digital/fonts/ModernEra/ModernEra-Regular-woff2.woff2") format("woff2"), url("https://horizontaldigital.com/-/media/themes/horizontal/dotcom/digital/digital/fonts/ModernEra/ModernEra-Regular-woff.woff") format("woff");font-weight: normal;font-style: normal}
</style>



            <form accept-charset="UTF-8" method="post" action="https://e.horizontal.com/ncpc" class="form" id="pardot-form">
              <style type="text/css">
                form.form p label {
                  color: #fff;
                }
              </style>

              <p class="form-field first_name pd-text required mt-5">
                <label class="field-label" for="575073_65899pi_575073_65899">First Name</label>
                <input type="text" name="575073_65899pi_575073_65899" id="575073_65899pi_575073_65899" value="" class="text valid" size="30" maxlength="40" onchange="" onfocus="" required="">
              </p>
              <div id="error_for_575073_65899pi_575073_65899" style="display:none"></div>

              <p class="form-field last_name pd-text required">
                <label class="field-label" for="575073_65901pi_575073_65901">Last Name</label>
                <input type="text" name="575073_65901pi_575073_65901" id="575073_65901pi_575073_65901" value="" class="text" size="30" maxlength="80" onchange="" onfocus="">
              </p>
              <div id="error_for_575073_65901pi_575073_65901" style="display:none"></div>

              <p class="form-field email pd-text required">
                <label class="field-label" for="575073_65903pi_575073_65903">Email</label>
                <input type="text" name="575073_65903pi_575073_65903" id="575073_65903pi_575073_65903" value="" class="text" size="30" maxlength="255" onchange="piAjax.auditEmailField(this, 575073, 65903, 312142741);" onfocus="">
              </p>
              <div id="error_for_575073_65903pi_575073_65903" style="display:none"></div>

              <p class="form-field company pd-text">
                <label class="field-label" for="575073_65905pi_575073_65905">Company</label>
                <input type="text" name="575073_65905pi_575073_65905" id="575073_65905pi_575073_65905" value="" class="text" size="30" maxlength="255" onchange="" onfocus="">
              </p>
              <div id="error_for_575073_65905pi_575073_65905" style="display:none"></div>

              <p style="position:absolute; width:190px; left:-9999px; top: -9999px;visibility:hidden;">
                <label for="pi_extra_field">Comments</label>
                <input type="text" name="pi_extra_field" id="pi_extra_field"></p>


              <!-- forces IE5-8 to correctly submit UTF8 content  -->
              <input name="_utf8" type="hidden" value="☃">
              <p class="submit">
                <input type="submit" accesskey="s" value="Submit">
              </p>
              <script type="text/javascript">
                //<![CDATA[

                var anchors = document.getElementsByTagName("a");
                for (var i = 0; i < anchors.length; i++) {
                  var anchor = anchors[i];
                  if (anchor.getAttribute("href") && !anchor.getAttribute("target")) {
                    anchor.target = "_top";
                  }
                }
                //]]>
              </script>
              <input type="hidden" name="hiddenDependentFields" id="hiddenDependentFields" value="">
            </form>



          </div>

          <div class="col-12">
            <!-- Be sure that the "for" attribute matches with the corresponding input's id attribute -->
            <ul class="checkbox-container">
              <li>
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1">Subscribe to Horizontal Digital’s newsletter & thought leadership</label>
              </li>
              <li>
                <input id="checkbox2" type="checkbox">
                <label for="checkbox2">I consent to receive communications about Horizontal’s business in accordance with Horizontal’s Privacy Policy</label>
              </li>
            </ul>
            <!-- Example of Radio buttons - delete -->
            <ul class="radio-container">
              <li>
                <input id="radio1" type="radio" name="radios">
                <label for="radio1">Radio One</label>
              </li>
              <li>
                <input id="radio2" type="radio" name="radios">
                <label for="radio2">Radio Two</label>
              </li>
            </ul>
          </div>

          <div class="col-12">
            <div class="form-group">
              <input value="Submit" type="submit" class="primary-button" name="form-submit">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- {{/each}} --}}

{{/default-data}}
