<!doctype html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>No-Code Preference Center</title>
    <meta name="title" content="No-Code Preference Center" />
    <link rel="shortcut icon" href="/common/images/favicon.ico" type="image/x-icon" />
    <link href="/common/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/shared.js"></script>
    <script type="text/javascript" src="/common/js/vendor.js"></script>
    {{#>head}}{{/head}}
  </head>
  {{!-- Body class here only used for `npm run dev` build --}}
  <body class="{{#>bodyclass}}{{/bodyclass}}">
    {{#>header}}
    {{> components/global-components/header/header }}
    {{/header}}

    <main role="main">
      <div class="row">
        <div class="col-12">
          {{#>content}} {{/content}}
        </div>
      </div>
    </main>

    {{#>footer}}
    {{> components/global-components/footer/footer }}
    {{/footer}}
    <script type="text/javascript" src="/common/js/main.js"></script>
    {{#>javascript}}{{/javascript}}
  </body>
</html>
