@import "~bootstrap/scss/jumbotron";

.styleguide {
  .styleguide-color {
    padding: 30px;
    &_black {
      background: $brand-black;
      color: $brand-white;
    }
    &_dark-gray {
      background: $brand-dark-gray;
      color: $brand-white;
    }
    &_medium-gray {
      background: $brand-medium-gray;
      color: $brand-white;
    }
    &_light-gray {
      background: $brand-light-gray;
      color: $brand-white;
    }
    &_aqua {
      background: $brand-aqua;
      color: $brand-white;
    }
    &_salmon {
      background: $brand-salmon;
      color: $brand-white;
    }
    &_pink {
      background: $brand-pink;
      color: $brand-white;
    }
    &_blue {
      background: $brand-blue;
      color: $brand-white;
    }
    &_forest {
      background: $brand-forest;
      color: $brand-white;
    }
  }
  body.type-1 & {
    background: yellow;
  }
  
  body.type-2 & {
    background: pink;
  }
}
