<div class="container styleguide">
    <div class="row">
        <div class="col-12">

            <h1>Branding</h1>

            <h2>Colors</h2>

            <div class="jumbotron">
                <div class="row">
                    {{#each colors}}
                    <div class="{{#if fullWidth}}col-12{{else}}col-6{{/if}} styleguide-color {{class}}">
                        {{name}} : {{hex}}
                    </div>
                    {{/each}}
                </div>
            </div>

            <h2>Typography</h2>

            <div class="jumbotron">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
            </div>
        </div>
    </div>
</div>