.showcase {
  align-items: center;
  background-size: contain;
  display: flex;
  justify-content: flex-start;
  margin: 50px 0 100px;
  width: 100%;

  .container {
    max-width: 1000px;
  }

  h2 {
    font-family: "ModernEra-Black";
    font-size: 24px;
    line-height: 26px;
    margin: 10px 15px 0 0;
    padding: 20px 0;
    position: relative;

    &:before {
      background: #fff;
      content: "";
      height: 10px;
      left: 0;
      position: absolute;
      top: -10px;
      transform: translate3d(0, 0, 0);
      transition: width .25s ease-in-out;
      width: 60px;
    }
  }

  p {
    font-size: 14px;
    margin: 0 0 30px;
    line-height: 18px;
  }

  .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
  }

  img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}
