{{#default-data "./_story/showcase.knobs.js" "Showcase"}}

{{#each showcase as |card|}}
<div class="showcase">
  <div class="row">
    <div class="col-md-3">
      <h2>{{card.title}}</h2>
      <p>{{card.bodytext}}</p>
    </div>
    <div class="col-md-9">
      <img src="{{card.video}}" />
    </div>
  </div>
</div>
{{/each}}

{{/default-data}}
