<!doctype html>
<!--[if IE 9]><html lang="en" dir="ltr" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js" dir="ltr" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- BEGIN NOINDEX -->
    <title>{{ title }} | HIVE</title>
    <meta name="title" content="{{title}} | HIVE" />
    <!-- END NOINDEX -->

    <link rel="shortcut icon" href="/brand-1/images/favicon.ico" type="image/x-icon" />

    <!-- BEGIN NOINDEX -->

    <link href="/brand-1/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/shared.js"></script>
    <script type="text/javascript" src="/brand-1/js/vendor.js"></script>

    <!-- END NOINDEX -->

    {{#> head }}

    {{/head}}
</head>

<body class="">

    <!-- BEGIN NOINDEX -->

    {{#> header }}
        {{> components/global-components/header/header }}
    {{/header}}

    <!-- END NOINDEX -->
    <main role="main">
        {{#> content }}
        {{/content}}
    </main>
    <!-- BEGIN NOINDEX -->
    {{#> footer }}
        {{> components/global-components/footer/footer footerText="Default Footer" }}
    {{/footer}}

    <!-- END NOINDEX -->

    <script type="text/javascript" src="/brand-1/js/main.js"></script>
    {{#>javascript}}{{/javascript}}
</body>

</html>