
{{#> html/layouts/default }}
    {{!-- Body class here only used for `npm run dev` build --}}
    {{#*inline "bodyclass"}}home{{/inline}}
    {{#*inline "header"}}
        {{> components/global-components/header/header title="Home Header" }}
    {{/inline}}
    {{#*inline "content"}}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{> components/independent-components/herotext/herotext}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> components/independent-components/video/video}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> components/independent-components/content-area/contentarea}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> components/independent-components/cards/cards}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> components/independent-components/showcase/showcase}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> components/independent-components/features/features}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{> components/independent-components/contact-form/contactform}}
                </div>
            </div>
        </div>
    {{/inline}}
{{/html/layouts/default}}
