{{#> html/layouts/default }}

{{#*inline "header"}}
{{> components/global-components/header/header header}}
{{/inline}}

{{#*inline "content"}}
<div class="container">
    {{> html/placeholder/grid-placeholder body}}
</div>
{{/inline}}

{{#*inline "footer"}}
{{> components/global-components/footer/footer footer}}
{{/inline}}

{{/html/layouts/default}}