{{#default-data "./grid-placeholder.knobs.js"}}
{{#> html/placeholder/helpers/render-components}}

{{#if (equal componentName 'full-width')}}
{{> html/scaffolds/full-width }}
{{/if}}

{{#if (equal componentName 'half-width')}}
{{> html/scaffolds/half-width }}
{{/if}}

{{#if (equal componentName 'four-eight')}}
{{> html/scaffolds/four-eight  }}
{{/if}}

{{#if (equal componentName 'eight-four')}}
{{> html/scaffolds/eight-four  }}
{{/if}}

{{/html/placeholder/helpers/render-components}}
{{/default-data}}