{{#default-data "./main-content.knobs.js" "[Main Content]"}}
{{#>html/placeholder/helpers/render-components}}

{{#if (equal componentName 'callout')}}
{{> components/independent-components/callout/callout }}
{{/if}}

{{#if (equal componentName 'dropdown')}}
{{> components/independent-components/dropdown/dropdown }}
{{/if}}

{{#if (equal componentName 'grid')}}
{{> html/placeholder/grid-placeholder }}
{{/if}}

{{#if (equal componentName 'tabs')}}
{{> components/independent-components/tabbed-container/tabbed-container }}
{{/if}}

{{/html/placeholder/helpers/render-components}}
{{/default-data}}