{{#default-data "./side-content.knobs.js" "[Side Content]"}}
{{#> html/placeholder/helpers/render-components}}

{{#if (equal componentName 'dropdown')}}
{{> components/independent-components/dropdown/dropdown }}
{{/if}}

{{/html/placeholder/helpers/render-components}}
{{/default-data}}