{{#default-data "./tab-content.knobs.js"}}
{{#> html/placeholder/helpers/render-components}}

{{#if (equal componentName 'callout')}}
{{> components/independent-components/callout/callout }}
{{/if}}

{{#if (equal componentName 'dropdown')}}
{{> components/independent-components/dropdown/dropdown }}
{{/if}}

{{/html/placeholder/helpers/render-components}}
{{/default-data}}