@font-face {
    font-family: 'ModernEra-Black';
    src: url('../fonts/ModernEra/ModernEra-Black-woff.woff') format('woff'),
        url('../fonts/ModernEra/ModernEra-Black-woff2.woff2') format('woff2');
}

@font-face {
    font-family: 'ModernEra-Bold';
    src: url('../fonts/ModernEra/ModernEra-Bold-woff.woff') format('woff'),
        url('../fonts/ModernEra/ModernEra-Bold-woff.woff2') format('woff2');
}

@font-face {
    font-family: 'ModernEra-ExtraBold';
    src: url('../fonts/ModernEra/ModernEra-ExtraBold-woff.woff') format('woff'),
        url('../fonts/ModernEra/ModernEra-ExtraBold-woff2.woff2') format('woff2');
}

@font-face {
    font-family: 'ModernEra-Italic';
    src: url('../fonts/ModernEra/ModernEra-Italic-woff.woff') format('woff'),
        url('../fonts/ModernEra/ModernEra-Italic-woff2.woff2') format('woff2');
}

@font-face {
    font-family: 'ModernEra-Light';
    src: url('../fonts/ModernEra/ModernEra-Light-woff.woff') format('woff'),
        url('../fonts/ModernEra/ModernEra-Light-woff2.woff2') format('woff2');
}

@font-face {
    font-family: 'ModernEra-Medium';
    src: url('../fonts/ModernEra/ModernEra-Medium-woff.woff') format('woff'),
        url('../fonts/ModernEra/ModernEra-Medium-woff2.woff2') format('woff2');
}

@font-face {
    font-family: 'ModernEra-Regular';
    src: url('../fonts/ModernEra/ModernEra-Regular-woff.woff') format('woff'),
        url('../fonts/ModernEra/ModernEra-Regular-woff2.woff2') format('woff2');
}

// @font-face {
//     font-family: 'FontAwesome';
//     src: url('../fonts/FontAwesome/fontawesome-webfont-woff.woff') format('woff'),
//         url('../fonts/FontAwesome/fontawesome-webfont-woff2.woff2') format('woff2');
// }
