/*
  Spacer Generator
  ---
  Output a list of spacers with a consistent multiplier
  to standardize spacing of margins, padding, etc.
  -
  Usage
  .selector {
    margin-bottom: spacer(2);
    padding: spacer(1) spacer(3);
  }
*/

@function spacer($multiplier) {
  @return $multiplier * $spacer-size;
}
