// Storybook hack
#root {
  height: 100%;
}

// Common Global styles
html,
body {
  background: $brand-black;
  color: #fff;
  font-family: 'ModernEra-Regular', serif;
  font-size: 62.5%;
  height: 100vh;
  line-height: 28px;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

body.nav-expand {
  position: fixed;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1460px;
  }
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

h3 {
  font-family: "ModernEra-Black";
  font-size: 36px;
  line-height: 40px;
}

.fullscreen {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;

  @media (min-width: 768px) {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link a,
a {
  @include link();
  border: none;
  text-decoration: none;
}

.btn {
  background-color: #fff !important;
  border-radius: 0;
  color: #2f2d2e;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-family: "ModernEra-Black";
  width: auto;
  display: block;
  padding: 11px 60px;
  margin: 15px;
  cursor: pointer;
}

main {
  flex: 1;
}

body:not(.on-page-editor) .sticky.is-sticky {
  padding-right: 0px !important;
}

body:not(.on-page-editor) .sticky.is-sticky {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header .nav-expand {
  align-items: start;
  background: #7fc3ba !important;
  height: 100vh;
  left: 0;
  margin-top: 4px;
  position: fixed;
  width: 100vw;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 120px;
  justify-content: space-between;
  max-width: unset;
  min-height: 100px;
  padding: 20px;
  position: relative;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 10;

  @media (min-width: 576px) {
    &.container {
      max-width: unset;
    }
  }

  @media screen and (min-width: 992px) {
    height: auto;
    max-width: 540px;
  }

  .nav-expand {
    align-items: start;
    background: #7fc3ba !important;
    height: 100vh;
    left: 0;
    margin-top: 4px;
    position: fixed;
    top: 0;
    transition: all .25s ease-in-out;
    width: 100vw;
    z-index: 1000;

    nav {
      height: 100vh;
      opacity: 1;
      position: absolute !important;
      right: 4vh;
      text-align: right;
      top: 15vh;
      visibility: visible;
      width: 100vw;
      z-index: 1000;
    }

    .navbar-toggle {
      height: 26px;
      width: 35px;
      background: transparent;
      border: 0;
      cursor: pointer;
      margin: 0;
      padding: 0;

      .icon-bar {
        height: 5px;
        width: 35px;
        background: #2f2d2e;
        margin-bottom: 5px;
        display: block;
      }
    }
  }



  .nav-expand .navbar-toggle .icon-bar {
    height: 6px;
    width: 40px;
    margin-left: 3px;
  }

  .navbar-toggle {
    background: transparent;

    .icon-bar {
      background: #2f2d2e;
      background: #2f2d2e;
    }

    &.collapsed {
      background: transparent;

      .icon-bar {
        background: #fff;
      }

      &:hover {

        .top-bar,
        .bottom-bar {
          border-right: 10px solid #fff;
          border-left: 10px solid #fff;
          box-sizing: border-box;
          border-radius: 1px;
          background: transparent !important;
        }
      }
    }
  }
}

.navigation.navigation-main .rel-level1>.navigation-title>a {
  border-width: 2px 0 0 0;
  border-color: transparent;
}

header .nav-expand .navigation-title a {
  position: relative;
  display: block;
  font-size: 6vh;
  line-height: 1;
  color: #fff;
  font-weight: 900;
  font-family: "ModernEra-Black";
  transition: all .2s 0s ease-in-out;
  padding-right: 7vh;
  // margin-right: -7vh;
  margin-bottom: 2vh;
  border: none;
}

.navigation li>.navigation-title>a {
  padding: 3px 5px 3px 0;
  display: block;
  color: #2f2d2e;
  text-decoration: none;

  &:hover {
    color: #fff;
    transition: all .2s 0s ease-in-out;
    padding-right: 72px;

    &:after {
      content: "";
      width: 60px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    line-height: 1;
    background-color: #fff;
    right: 0;
    top: 35px;
    transition: all .2s 0s ease-in-out;
    width: 0;
    height: 12px;
  }
}

.navigation a {
  color: #2f2d2e;
}

#menu {
  width: auto;
  height: 100%;
  display: none;
  justify-content: flex-end;
  align-items: center;

  @media screen and (min-width: 992px) {
    display: flex;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    color: #fff;
    font: normal normal normal 14px/1 ModernEra-Black;
    text-transform: uppercase;

    &:first-of-type {
      margin-left: 0;
    }

    &:nth-last-of-type(2) {
      margin-right: 15px;
    }

    a {
      color: #fff;
      display: inline-block;
      padding: 12px 18px;
      position: relative;
      text-decoration: none;

      &:hover,
      &:link,
      &:focus {
        color: #fff;
      }

      &:hover:after {
        content: " ";
        display: block;
        border-bottom: 3px solid #7fc3ba;
        margin: 0 auto;
        bottom: -5px;
        position: absolute;
        padding: 5px 0 0 0;
        right: 1px;
        left: 0;
      }
    }

    &.bordered {
      border: 4px solid #fff;

      a:hover:after {
        display: none;
      }
    }
  }
}

#mobilecontainer,
#navbarCollapse {
  @media screen and (min-width: 992px) {
    display: none;
    text-align: right;
  }
}

#mobilecontainer {
  text-align: right;
}

#navbarCollapse {
  display: none;

  &.nav-expand {
    display: block;
  }
}

#mobilemenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 15px;
  position: absolute;
  top: 30px;
  z-index: 1001;

  @media screen and (min-width: 992px) {
    display: none;
  }

  &.collapsed {
    .icon-bar {
      background: #fff;
    }

    .middle-bar {
      opacity: 1;
    }

    .top-bar,
    .bottom-bar {
      transform: rotate(0);
    }
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 7% 10%;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  .middle-bar {
    opacity: 0;
  }

  .icon-bar {
    height: 5px;
    width: 35px;
    background: #2f2d2e;
    margin-bottom: 5px;
    display: block;
    transition: all .2s;
  }
}

.navbar-toggle {
  &:hover {
    background: transparent !important;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 7% 10%;
  }

  .icon-bar {
    transition: all .2s;
  }

  .collapsed {
    &:hover {
      .top-bar {
        border-right: 10px solid #fff;
        border-left: 10px solid #fff;
        box-sizing: border-box;
        border-radius: 1px;
        background: transparent;
      }

      .icon-bar {
        background: #fff;
      }

      .bottom-bar {
        border-right: 10px solid #fff;
        border-left: 10px solid #fff;
        box-sizing: border-box;
        border-radius: 1px;
        background: transparent;
      }
    }
  }
}

.component-footer {
  background-color: #393738;

  &:before {
    content: "";
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #393738;
    top: 0;
  }

  &:after {
    content: "";
    left: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #393738;
    top: 0;
  }

  .footer-logo {
    margin: 30px 15px 15px 10px;

    @media (min-width: 768px) {
      margin: 30px 0 0 10px;
    }

    +.footer-copyright {
      color: #fff;
      font-family: "ModernEra-Regular";
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      margin: 0 0 15px;
      opacity: 1;

      @media (max-width: 767px) {
        opacity: 0;
        margin: 0;
        height: 0;
        width: 0;
        display: none;
      }
    }
  }

  .footer-utility .footer-copyright {
    padding: 0 0 0 10px;
    margin: 15px 0 15px;
    display: block;
    opacity: 1;
    position: relative;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .rich-text .component-content {
    color: #fff;
    font-family: "ModernEra-Regular";
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .footer-utility {
    @media (min-width: 768px) {
      margin: 15px 0 20px;
    }
  }

  .component-footer-links {
    list-style-type: none;
    padding-left: 10px;
    width: 100%;

    ul {
      padding: 0;
    }

    li {
      box-shadow: 0 2px 0 transparent;
      list-style: none;
    }

    a {
      color: #fff;
      font-family: "ModernEra-Black";
      font-weight: 500;
      font-size: 18px;
      background-color: transparent;
      text-decoration: none;
      padding: 15px 0 2px;
      display: inline-block;
    }
  }

  .component-footer-social {
    margin: 15px 0 0;
    padding: 0 0 0 10px;
    width: 100%;

    ul {
      display: inline-flex;
      padding-left: 0;
    }

    li {
      font-size: 18px;
      color: #fff;
      list-style: none;

      &:first-child a {
        padding: 5px 15px 5px 0;
      }

      a {
        color: #fff;
        transition: color .25s ease-in-out;
        padding: 5px 15px;

        &:before {
          font-family: "FontAwesome";
          font-size: 18px;
          color: #fff;
        }

        &:hover,
        &:link {
          color: transparent;
          font-size: 0;
        }
      }
    }
  }
}

.component-footer-cta {
  background-color: #7fc3ba;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;

  @media (min-width: 768px) {
    height: 50px;
  }

  .footer-cta {
    font-family: "ModernEra-Regular";
    align-self: center;
    color: #2f2d2e;
    font-size: 20px;
    padding: 15px 20px;
    max-width: 1200px;
    justify-content: flex-start;

    @media (min-width: 768px) {
      padding: 5px 10px;
    }

    a {
      color: #2f2d2e;
      text-decoration: underline;
    }

    strong {
      color: #2f2d2e;
      font-family: "ModernEra-Black";

      a {
        font-family: "ModernEra-Black";
      }
    }
  }
}

.component-footer .content *,
.component-footer .rich-text * {
  max-width: initial;
}

.column-splitter,
.row-splitter {
  width: auto !important;
}

.primary-button,
.submit input[type="submit"] {
  background: none;
  background-color: transparent;
  background-image: linear-gradient(to right, #fff 50%, #2f2d2e 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 5px solid #fff;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "ModernEra-Black";
  font-size: 18px;
  padding: 15px 50px;
  text-align: center;
  transition: all .25s ease-out;
  -webkit-appearance: initial;

  &:hover {
    cursor: pointer;
    background-position: left bottom;
    color: #2f2d2e;
  }
}

.round-cta {
  font-family: "ModernEra-Black";
  font-size: 18px;
  color: #2f2d2e;
  border-radius: 50%;
  border-color: transparent;
  padding: 0;
  cursor: pointer;
  height: 100px;
  width: 100px;
  transition: .3s;
  background: #fff;
  -webkit-appearance: initial;

  &:hover {
    background: #cfcdc8;
  }
}

.hiimage {
  display: block;
  text-align: center;

  .component-content {
    line-height: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
