
/*
  Link style
  ---
  Styles an element as a link, e.g. when an element semantically functions as a button but should be displayed as a link
  -
  Usage
  .my-link-button {
    @include link()
  }
*/

@mixin link() {
  color: $color-link;
  text-decoration: none;
  border: none;
  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}
