// NOTE: Use !default on variables under "common" so the can be overridden
// in other themes/brands/projects

// UTILITIES
// Functional
$spacer-size: 8px !default;

$brand-white: #ffffff;

$brand-black: #2F2D2E;
$brand-dark-gray: #515152;
$brand-medium-gray: #787779;
$brand-light-gray: #CFCDC8;
$brand-aqua: #7FC3BA;
$brand-salmon: #F58466;
$brand-pink: #F8AA97;
$brand-blue: #065264;
$brand-forest: #2E4E40;


// Colors
$color-link: #07C !default;
$color-link-hover: #3af !default;

// Font Sizes

$h1-font-size: 50px !default;
$h2-font-size: 40px !default;

// Map to be used by mixins
$header-font-sizes: (
    'h1': $h1-font-size,
    'h2': $h2-font-size,
)