.contentarea {
  align-items: center;
  background-size: contain;
  display: flex;
  justify-content: flex-start;
  margin: 60px 0;
  width: 100%;

  .container {
    max-width: 1000px;
  }

  h2 {
    font-family: "ModernEra-Black";
    font-size: 36px;
    line-height: 1;
    margin: 0 15px 0 0;
    padding: 21px 0 30px;
    position: relative;

    &:before {
      background: #fff;
      content: "";
      height: 10px;
      left: 0;
      position: absolute;
      top: -9px;
      transform: translate3d(0, 0, 0);
      transition: width .25s ease-in-out;
      width: 60px;
    }

    @media screen and (min-width: 768px) {
      font: 400 50px/1.15 'ModernEra-Black', sans-serif;
    }
  }

  p {
    font-size: 18px;
    margin: 0 0 30px;
  }
}
