{{#default-data "./_story/contentarea.knobs.js" "Content Area"}}

<div class="contentarea">
  <div class="row">
    <div class="col-lg-9">
      <div class="component-content">
        <div class="component-section-title__heading">
          <h2 class="field-section-title">{{title}}</h2>
          <p>{{bodytext}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{/default-data}}
