<div class="dropdown"
    data-ajaxurl="/common/components/independent-components/dropdown/dropdown.mock-data.json"
    data-ajaxmethod="GET">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu">
  </div>
</div>
