{{#default-data "./_story/footer.data.json"}}
    <footer>
        <div id="footer" class="container">
            <div class="row">
                <div class="component container col-12 center-container component-footer" id="digital-footer-partial">
                    <div class="component-content">
                        <div class="row component column-splitter">
                            <div class="col-12 col-md-9">
                                <div class="row">
                                    <div class="component hiimage footer-logo" data-qa="component-image">
                                        <div class="component-content">
                                            <a title="Footer-Logo" href="/">
                                                <img src="/common/images/h-bug.png" alt="footer logo" width="59" height="38">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="component rich-text col-12 footer-copyright">
                                        <div class="component-content">
                                            © Horizontal Digital 2020 – Legal
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 footer-utility">
                                <div class="row">
                                    <div class="component component-footer-links">
                                        <div class="component-content">
                                            <ul>
                                                <li class="item0 odd first">
                                                    <div class="field-link">
                                                        <a href="" title="News & Events">News & Events</a>
                                                    </div>
                                                </li>
                                                <li class="item1 even">
                                                    <div class="field-link">
                                                        <a href="" title="Careers">Careers</a>
                                                    </div>
                                                </li>
                                                <li class="item2 odd">
                                                    <div class="field-link">
                                                        <a href="" title="Contact">Contact</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="component component-footer-social">
                                        <div class="component-content">
                                            <ul>
                                                <li class="item0 odd first">
                                                    <div class="field-link">
                                                        <a href="https://www.linkedin.com/company/30574460/" title="Linked In" class="fa fa-linkedin">Linked In</a>
                                                    </div>
                                                </li>
                                                <li class="item1 even">
                                                    <div class="field-link">
                                                        <a href="https://www.instagram.com/hztldigital/" title="Instagram" class="fa fa-instagram">Instagram</a>
                                                    </div>
                                                </li>
                                                <li class="item2 odd last">
                                                    <div class="field-link">
                                                        <a href="https://vimeo.com/horizontalinc" title="Vimeo" data-variantfieldname="Link" class="fa fa-vimeo">Vimeo</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="component rich-text col-12 footer-copyright">
                                        <div class="component-content">
                                            © Horizontal Digital 2020 – Legal
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="component rich-text">
                            <div class="component-content">
                                <div class="component-footer-cta fullscreen">
                                    <div class="footer-cta ">Need a staffing solution? <span><strong>Visit our sister company</strong></span> <span><strong><a href="https://www.horizontaltalent.com:443/">Horizontal Talent</a></strong></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{{/default-data}}
