{{#default-data "./_story/TEMPLATE.knobs.js" "Template"}}
  <div class="template">
    <h1>{{key}}</h1>
    {{!-- {{#if cta }}
      <a href="{{url}}" class="btn">{{cta}}</a>
    {{/if}} --}}
  </div>
{{/default-data}}
