.herotext {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 0;
  min-height: 0;
  padding: 0 0 30px;
  width: 100%;

  @media screen and (min-width: 992px) {
    align-items: center;
    justify-content: center;
    margin: 60px 0;
  }

  h1 {
    font: 400 36px/1.15 'ModernEra-Black', sans-serif;
    margin: 0 0 15px;
    padding: 0;

    @media screen and (min-width: 768px) {
      font: 400 50px/1.15 'ModernEra-Black', sans-serif;
    }
  }

  p {
    font: 400 18px/1.15 'ModernEra-Regular', sans-serif;
    margin: 0 0 15px;
    padding: 0;
  }

  .btn {
    margin: 15px 0;
  }
}
