{{#default-data "./_story/herotext.knobs.js" "Herotext"}}
  <div class="herotext">
    <h1>{{title}}</h1>
    <p>{{subtitle}}</p>
    {{#if cta }}
      <a href="{{url}}" class="btn">{{cta}}</a>
    {{/if}}
  </div>
{{/default-data}}
