.storybook-placeholder {
  border: 1px dotted green;
  .storybook-placeholder {
    border-color: blue;
    .storybook-placeholder {
      border-color: magenta;
      .storybook-placeholder {
        border-color: orange;
      }
    }
  }
}
