<div class="row">
    <div class="col-4">
        {{> html/placeholder/side-content placeholder="Left" }}
    </div>
    <div class="col-8">
        {{> html/placeholder/main-content placeholder="Right" }}
    </div>
</div>