<div class="row">
    <div class="col-6">
        {{> html/placeholder/side-content placeholder="Left" }}
    </div>
    <div class="col-6">
        {{> html/placeholder/side-content placeholder="Right" }}
    </div>
</div>