.cards {
  align-items: center;
  background-size: contain;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 60px;
  width: 100%;

  .container {
    max-width: 1000px;
  }

  h3 {
    font-family: "ModernEra-Black";
    font-size: 18px;
    line-height: 24px;
    margin: 0 15px 0 0;
    padding: 20px 0 0px;
    position: relative;

    @media screen and (min-width: 992px) {
      padding: 20px 0;
    }

    &:before {
      background: #fff;
      content: "";
      height: 5px;
      left: 0;
      position: absolute;
      top: -9px;
      transform: translate3d(0, 0, 0);
      transition: width .25s ease-in-out;
      width: 100%;
    }
  }

  p {
    font-size: 14px;
    margin: 0 0 30px;
    line-height: 18px;
  }
}
