{{#default-data "./_story/cards.knobs.js" "Cards"}}

<div class="cards">
  <div class="row">
    {{#each cards as |card|}}
    <div class="col-md-4 col-lg-3">
      <div class="icon-card">
        <h3>{{card.title}}</h3>
        <p>{{card.bodytext}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{/default-data}}
