<div{{#if highlight}} class="storybook-placeholder" {{/if}}>

    {{!-- If there is a placeholder specified, look up the data for that placeholder --}}
    {{#with-nullable (lookup this placeholder)}}
   
    {{#each components as |componentName|}}
    {{!-- Look up the component data for this component, also pass the component name --}}
    {{> @partial-block (lookup ../componentsData componentName) componentName=componentName}}

    {{/each}}

    {{/with-nullable}}

</div>