{{#default-data "./_story/header.data.json" "header"}}
<header class="header container">
  <div id="logo">
    <img src="/common/images/logo.svg" />
  </div>

  <!-- Desktop Menu -->
  <ul id="menu">
    <li>
      <div class="navigation-title field-navigationtitle">
        <a href="" title="work">Work</a>
      </div>
    </li>
    <li>
      <div class="navigation-title field-navigationtitle">
        <a href="">Services</a>
      </div>
    </li>
    <li>
      <div class="navigation-title field-navigationtitle">
        <a href="">Platforms</a>
      </div>
    </li>
    <li>
      <div class="navigation-title field-navigationtitle">
        <a href="">Insights</a>
      </div>
    </li>
    <li>
      <div class="navigation-title field-navigationtitle">
        <a href="">About</a>
        </div>
    </li>
    <li class="bordered">
      <div class="navigation-title field-navigationtitle">
        <a href="">Get A Demo</a>
        </div>
    </li>
  </ul>
  <!-- End Desktop Menu -->

  <!-- Hamburger Menu -->
  <div class="navbar navbar-default navbar-static-top" id="mobilecontainer">
    <button class="navbar-toggle collapsed" type="button" id="mobilemenu" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
  </div>
  <!-- End Hamburger Menu -->

  <!-- Mobile Menu -->
  <div class="navigation navigation-title col-12 indent-top navbar navbar-default navbar-static-top navbar-collapse navigation-main navigation-main-horizontal initialized collapse show" id="navbarCollapse" style="">
    <nav>
      <ul class="clearfix">
        <li>
          <div class="navigation-title field-navigationtitle"><a title="Work" href="/work">Work</a></div>
        </li>
        <li>
          <div class="navigation-title field-navigationtitle"><a title="Services" href="/services">Services</a></div>
        </li>
        <li>
          <div class="navigation-title field-navigationtitle"><a title="Platforms" href="/platforms">Platforms</a>
          </div>
        </li>
        <li>
          <div class="navigation-title field-navigationtitle"><a title="Insights" href="/insights">Insights</a></div>
        </li>
        <li>
          <div class="navigation-title field-navigationtitle"><a title="About Us" href="/about-us">About</a></div>
        </li>
        <li>
          <div class="navigation-title field-navigationtitle">
            <a href="">Get A Demo</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <!-- End Mobile Menu -->
</header>
{{/default-data}}
