{{#> html/layouts/default }}
    {{#*inline "content"}}
        <div class="container">
            <div class="row">
                <div class="col">
                    {{> components/independent-components/callout/callout }}
                </div>
            </div>
        </div>
    {{/inline}}
{{/html/layouts/default}}

