.callout {
  width: 100%;
  background: #fff;
  margin: spacer(1) 0;
  padding: spacer(1) spacer(1);

  p,
  a {
    margin-bottom: 0;
  }

  .callout-title {
    font-size: $h2-font-size;
    margin-bottom: 3px;
  }

  .callout-background-image {
    // Ensuring relative path css background images work
    background: url("../../../images/logo.png");
    height: 100px;
  }

  .callout-item:nth-child(3n + 1):before {
    color: red;
    // font-icon attribute is a custom attribute with added by `iconfont-webpack-plugin`
    // This will be converted to an embedded font icon on build
    font-icon: url("../../../svg-to-font/alert.svg");
  }
  .callout-item:nth-child(3n + 2):before {
    color: blue;
    font-icon: url("../../../svg-to-font/award.svg");
  }
  .callout-item:nth-child(3n + 3):before {
    color: green;
    font-icon: url("../../../svg-to-font/search.svg");
  }
  .callout-item:before {
    transition: 0.5s color;
  }
  .callout-item:hover:before {
    color: yellow;
  }
}
