{{#default-data "./_story/callout.knobs.js" "Callout"}}
    <div class="callout">
        {{#if showImage }}
            <div class="callout-background-image"></div>
        {{/if}}
        <div class="callout-title">{{title}}</div>
        <ul class="callout-content">
            {{#each items }}
                <li class="callout-item">
                    <a class="callout-link" href="#">{{ this.title }}</a> {{#if this.description }} - {{ this.description }} {{/if}}
                </li>
            {{ else }}
                <li>No items</li>
            {{/each}}
        </ul>
    </div>
{{/default-data}}