{{#> html/layouts/default }}
    {{#*inline "content"}}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Now we're inside!</h3>
                </div>
            </div>
        </div>
    {{/inline}}
{{/html/layouts/default}}