.video-tile {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  // min-height: 500px;

  iframe {
    border: 0;
  }

  img {
    width: 100%;
  }

  .curtain {
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .5s ease-in;
    z-index: 1;
  }

  .video-tile__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-overflow: ellipsis;
    font: 500 24px/.9 "Oswald", sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 15px;
    background: #000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    text-shadow: 2px 2px 4px rgba(39, 40, 41, .9);
    text-overflow: ellipsis;
    width: 100%;

    @media only screen and (min-width: 480px) and (max-width: 767px) {
      font: 500 32px/.9 "Oswald", sans-serif;
      padding: 45px 40px 28px 40px;
    }

    @media only screen and (min-width: 992px) and (max-width: 1279px) {
      font: 500 36px/.9 "Oswald", sans-serif;
      padding: 45px 40px 28px 40px;
    }

    @media only screen and (min-width: 1280px) {
      font: 500 42px/.9 "Oswald", sans-serif;
      padding: 45px 40px 28px 40px;
    }
  }

  .video-tile-loader {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease-in;
  }
}

/********************************************************************************
 * SVG Play Button
 ********************************************************************************/
.play {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: 1;
  cursor: pointer;
  border-radius: 100%;

  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }

  .play-video {
    width: 50px;
    height: 50px;
    font-size: 14px;
    border-radius: 100%;
    padding: 0px;
    position: relative;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      width: 100px;
      height: 100px;
    }

    .player-icon {
      fill: #fff;
    }
  }

  &-icon {
    position: absolute;
    width: 20px;
    height: 29px;
    top: 25px;
    left: 32px;
    opacity: .75;
    transition: width .2s ease-in-out, top .2s ease-in-out, left .2s ease-in-out, opacity .2s ease-in-out;

    .player-icon {
      fill: #ffffff;
      transition: fill .3s ease-in-out;
    }
  }
}

.video-tile {
  height: auto;

  &:hover {
    .round-cta {
      background: #cfcdc8;
    }
  }

  // .round-cta {
  //   background: #cfcdc8;
  //   height: 50px;
  //   width: 50px;
  //   font-size: 14px;
  // }


}

.SVGobject {
  stroke-width: 10px;
  stroke: #fff;
  transition: stroke-width 0.2s;
}

@keyframes stroke-width {
  0% {
    stroke-width: 10;
  }

  100% {
    stroke-width: 79;
  }
}


.video-container {
  height: 100%;

  .component-video__video-wrapper {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }

  .component-video img {
    max-width: 100%;
    height: auto;
  }

  .component-video__video-src {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .component-video__play-button button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .white-wrapper * {
    color: #2f2d2e;
  }
}
