{{#default-data "./_story/video.knobs.js" "Video"}}

<div class="video-tile mb-5" data-video="vimeo" data-id="{{id}}">
  <div class="curtain"></div>
  <img data-vimeo-id="{{id}}" src="{{poster}}" alt="Image Description" />
  <div class="play">
    <button class="play-video round-cta round-cta--white field-playbuttontext">Play</button>
  </div>
  <iframe src="" class="video-tile-loader" allow="autoplay"></iframe>
</div>

{{/default-data}}
